* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-base:#ffffff;
    --color-black:#000000;
    --color-blue:#181a71;
}
body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 60px 300px auto auto;
    background-color: lightgrey;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
