* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

/* .container {
    width: 600px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, auto));
    grid-template-rows: masonry;
    gap: 5px;
    flex-wrap: nowrap;
}
.item {
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.item:first-child {
    background-image: url(../assets/img/tani-olorunyomi-jO6467xTRnA-unsplash.jpg);
    grid-row: 1 / 3;
}
.item:nth-of-type(2){
    background-image: url(../assets/img/jakob-owens-0Xl9HAf0RyE-unsplash.jpg);
}
.item:nth-of-type(3) {
    background-image: url(../assets/img/fabio-oyXis2kALVg-unsplash.jpg);
}
.item:nth-of-type(4) {
    background-image: url(../assets/img/tani-olorunyomi-jO6467xTRnA-unsplash.jpg);
    grid-column: 2 / 3;
    grid-row: 2 / 4;
} */

/* .wrapper {
    width: 500px;
    height: 500px;
}
p {
    background: url(https://media.giphy.com/media/fsULJFFGv8X3G/giphy.gif);
    -webkit-background-clip: text;
    background-position: center;
    background-size: cover;
    color: transparent;
    font-size: 132px;
    text-align: center;
} */

/*Exercise*/
/* .grid {
    --gap: 1em;
    --columns: 4;
    max-width: 60rem;
    margin: 0 auto;
    display: column;
    columns: var(--columns);
    gap: var(--gap);
  }
  
  .grid > * {
    break-inside: avoid;
    margin-bottom: var(--gap);
  }
  
  @supports (grid-template-rows: masonry) {
    .grid {
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: masonry;
      grid-auto-flow: dense;
    }
  
    .grid > * {
      margin-bottom: 0em;
    }
  }
  
  .featured {
    grid-column: span 2;
  }
  
  :root {
    --ff-primary: basic-sans, sans-serif;
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg: #ddd;
    --spacer: 1rem;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  h1 {
    margin: 3rem 0;
    text-align: center;
    font-size: clamp(2rem, 1rem + 3vw, 6rem);
    font-weight: 300;
    line-height: 1;
    opacity: 0.2;
  }
  
  .flow > * + * {
    margin-top: var(--flow-space, var(--spacer));
  }
  
  body {
    font-family: var(--ff-primary);
    min-height: 100vh;
    font-size: 1em;
    line-height: 1.6;
    color: var(--clr-body);
    background: var(--clr-bg);
    padding-bottom: 13rem;
  }
  
  a {
    color: var(--clr-primary);
  }
  
  img {
    max-width: 100%;
  }
  
  .content {
    padding: 2em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
    background: white;
  }
  
  .title {
    font-weight: 900;
    color: var(--clr-primary);
    line-height: 0.8;
  }
   */